In [54]:
import pandas as pd
from IPython.display import display

data = pd.read_csv('lss_20190531.csv')

funds = data[data['LenderCategory'] == 'FUND'].drop(['OriginationDate', 'Term', 'OriginalTerm', 'MaturityDate',
                                                      'OriginalMaturityDate', 'HasExtended', 'NumExtensions', 'Borrower',
                                                      'DaysLate', 'Address', 'City', 'State', 'Zip', 'County',
                                                      'Status', 'Substatus', 'LenderId', 'LenderCategory',
                                                      'LenderRate', 'AdvisorFee', 'ServiceFee', 'AllFees',
                                                      'EffectiveLenderRate', 'EffectiveServicingFee',
                                                      'Advisor', 'FICO', 'LTC'], axis=1).reset_index(drop=True)

funds.LoanAmount = funds.LoanAmount.str.replace('$', '').str.replace(',', '').astype(float)
funds.LoanAmountFunded = funds.LoanAmountFunded.str.replace('$', '').str.replace(',', '').astype(float)

Funds = funds.drop(['Lender', 'LenderAmount'], axis=1).drop_duplicates().reset_index(drop=True)

NCFL = funds[funds['Lender'] == 'Noble Capital Funding Line, LLC'].drop('Lender', axis=1).reset_index(drop=True)
NCIFI = funds[funds['Lender'] == 'NC Income Fund I, LLC'].drop('Lender', axis=1).reset_index(drop=True)
NCIFII = funds[funds['Lender'] == 'Noble Capital Income Fund II, LLC'].drop('Lender', axis=1).reset_index(drop=True)
NCIFIII = funds[funds['Lender'] == 'Noble Capital Income Fund III, LLC'].drop('Lender', axis=1).reset_index(drop=True)
NCPreF = funds[funds['Lender'] == 'Noble Capital Premier Fund, LLC'].drop('Lender', axis=1).reset_index(drop=True)
NCPF = funds[funds['Lender'] == 'Noble Capital Portfolio Fund, LLC'].drop('Lender', axis=1).reset_index(drop=True)
NCPFII = funds[funds['Lender'] == 'Noble Capital Portfolio Fund II, LLC'].drop('Lender', axis=1).reset_index(drop=True)
NCPFIII = funds[funds['Lender'] == 'Noble Capital Portfolio Fund III, LLC'].drop('Lender', axis=1).reset_index(drop=True)

Funds.head()

,ULID,Loan,NoteRate,LoanAmount,LoanAmountFunded,ARV,LTV
0,3777,ALEGRIA 2008,11.500,725000.000,321000.000,1130000.000,0.642
1,3894,ANTLER 409,13.250,280000.000,207000.000,400000.000,0.700
2,3838,ARABELLA 6734,11.500,139300.000,76000.000,199000.000,0.700
3,1227,ARABELLE 2202/2208,12.490,600000.000,600000.000,960000.000,0.625
4,3487,ARBROOK,12.500,5376000.000,1433000.000,7680000.000,0.700

In [20]:
def means(x):
    '''Computes various means and displays as a dataframe.'''
    from IPython.display import display
    if x.columns.isin(['LenderAmount']).max() == False:
        x['FundedWeight'] = x.LoanAmountFunded / x.LoanAmountFunded.sum()
        else:
            x['FundedWeight'] = x.LenderAmount / x.LenderAmount.sum()
    x['fw'] = x.LoanAmountFunded / x.LoanAmountFunded.sum()
    x['rltv'] = 1 / x.LTV
    x['rltc'] = 1 / x.LTC
    x['cost'] = x.LoanAmount / x.LTC
   
print(NCFL.columns.isin(['LenderAmount']).max())
print(Funds.columns.isin(['LenderAmount']).max())

True
False